body {
  font-family:'Times New Roman', Times, serif;
  position: relative;
  margin: 0;
}
header{
  width: 100%;
  height: 70px;
}
 background-image {
  background-image:url(./images/main-image.jpg)
 }
header p {
  margin: 0;
}
.imagesLogo {
  position: absolute;
 left: 5%;
 margin-top: 15px;
}
.headerInner {
  height: 40px;
  position: absolute;
  right: 30%;
  margin-top: 15px;

}
.background-img{
  background-image: url(../images/main-image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
}
.background-img h1{
  color: lightslategray;
  text-align: center;
  margin: 0;
  padding: 115px;
  font-size: 300%;
}

.headerContact{
  width: 150px;
  height: 40px;
  position: absolute;
  right: 5%;
  margin-top: 15px;
  background-color:red;
}
.headerContact {
  position: relatove;
}
.headerContact:hover {
background-color: orange;
}

.headerContact a{
  color:white;
  height: 30px;
  display: block;
  text-align: center;
  padding: 5px;
  text-decoration: none;
}

.headerContact a:hover{
  text-decoration: underline;
}


/* main */

.mainInnerTop h2 {
  margin:0;
  background-color:gray;
  color:white;
  text-align: center;
}

ul{
  list-style: none;
  margin-top: 30px;
  margin-bottom: 30px;
  padding:0;
  width:100%;
  text-align:center;
}
 li {
  display: inline-block;
  margin-left: 5%;
}

.nav01, .nav02, .nav03{
  width: 150px;
  height: 150px;
  border: 1px solid black;
  border-radius: 75px;
}
li {
  margin-top: 25px;
  position: relative;
}

.nav01 a,.nav02 a,.nav03 a{
  position: absolute;
  top: 30px;
  right: 10px;
  width: 128px;
  height: 43px;
}
.allow {
  transform: rotate(45deg);
  width: 25px;
  height: 25px;
  border-bottom: 3px solid black;
  border-right: 3px solid black;
  margin-left: 50px;
  margin-top: 10px;
}


/* main section */
section{
  margin-top: 60px;
}

.mainInner{
  height: 340px;
  width: 100%;
  background-color: gray;
}
.mainInner h1 {
  margin-top: 0;
}
.image01,.image02,.image03{
  width: 674px;
  height: 340px;

}

.image01 {
}

.inner01 {
  width: 500px;
  float: right;
}
.inner01 h1{
  margin-top: 0;
}

.image02 {
  float: right;
}

.inner02 {
  width: 500px;
}

.image03 {
}

.inner03 {
  width: 500px;
  float: right;
}

/* footer */
footer {
  position: relative;
}

.footerText {
  height: 150px;
  background-color: gray;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 100px;
  margin-right: 100px;
}
.footerInner {
  height: 64px;
   position: absolute;
   left: 300px;
   top: 43px;
}
.footerInner h1{
  margin-bottom: 0;
  margin-top: 0;
}
.footerInner p{
  margin: 0;
}
.conect {
  position: absolute;
  top:45px;
  left: 700px;
  font-size: 20px;
  width: 250px;
  height: 60px;
  background-color: red;
  color: white;
  text-align: center;
}
.conect:hover {
  background-color: orange;
}
.conect a {
  display: inline-block;
  color:white;
  text-decoration: none;
  padding: 14px 35px;
}
.conect a:hover {
  text-decoration: underline;
}
.copy {
  background-color: gray;
  height: 50px;
}
.copy p {
  text-align: center;
  padding: 16px;
  margin: 0;
}